[2016-11-11 21:35] varun06 opened #2 "Error with go get."
### Error -

#github.com/google/gops/internal/objfile
go/src/github.com/google/gops/internal/objfile/goobj.go:119: undefined: gosym.PCValue
go/src/github.com/google/gops/internal/objfile/goobj.go:126: undefined: gosym.PCValue

### `go env`
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="<my go path>"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local

[2016-11-11 21:53] tmdvs commented on #2
I'm also experiencing the same issue on macOS. Can't find any reference to PCValue on the gosym docs page so assuming its referencing a different version of gosym?

[2016-11-11 21:56] siadat commented on #2
Which version of go are you using? Please post the output of `go version`.

My guess is that you are using a released version of Go. PCValue is a relatively new and will be added to the gosym package in Go1.8 according to golang/go#13862.

[2016-11-11 22:00] varun06 commented on #2
I am on `go1.7.3`

[2016-11-11 22:00] peterhellberg commented on #2
Yes, this fails on `go get` using version 1.7.3 under macOS 10.11.6 (El Capitan)

[2016-11-11 22:26] #2 closed

[2016-11-11 22:43] rakyll commented on #2
Disabling gosym for now, we don't have to disassemble .o files.

[2016-11-12 00:16] tve opened #3 "agent security?"
Nice stuff!
Do I understand correctly that the agent socket is pretty much unprotected (accessible to any user on the system) by default, or am I missing something? Maybe a note in the readme about this would help?

[2016-11-12 00:21] rakyll commented on #3
Would it be nicer to add this notice on the agent godoc?

[2016-11-12 01:06] #3 closed

[2016-11-13 20:57] rakyll opened #5 "Report the vitals"
`$ gops vitals` might report the vitals such as number of goroutines, threads, GOMAXPROCS, NumCPU and NumGoroutine.

[2016-11-14 09:29] guojun1992 opened #6 "i have a problem"
go build
package .
	imports github.com/google/gops/internal/objfile: use of internal package not allowed

[2016-11-14 10:53] guojun1992 opened #7 "where is the cmds defined"
func main() {
	if len(os.Args) < 2 {
		processes()
		return
	}

	cmd := os.Args[1]
	if cmd == "help" {
		usage("")
	}
	fn, ok := cmds[cmd]
	if !ok {
		usage("unknown subcommand")
	}

[2016-11-14 12:49] siadat commented on #7
[cmd.go#L15](https://github.com/google/gops/blob/9423f02414bd894a9b5fe49dbcb330dbee114c55/cmd.go#L15)

[2016-11-14 14:15] siadat commented on #6
I can't reproduce this issue. I can only suggest doing a few things :)

- Report the output of `go version`
- Make sure you have the latest version of gops and git status says your working directory is clean
- Make your issue a bit more readable. Use markdown to format the terminal output by prefixing terminal lines with 4 spaces

For example:

    $ go build

I hope this helps :)

[2016-11-14 17:22] #7 closed

[2016-11-14 17:24] rakyll commented on #6
This issue should have been resolved via https://github.com/google/gops/issues/2.

Update the package by running:
[code]
Reopen this issue if you keep experiencing it with the outputs of `go version` and `go env`.

[2016-11-14 17:24] #6 closed

[2016-11-14 17:44] gsquire commented on #5
I would like to tackle this if you haven't started working on it already.

[2016-11-14 17:55] rakyll commented on #5
Feel free to do so!

[2016-11-14 18:37] rakyll opened #8 "Support runtime.SetGCPercent"
Provide a command similar to runtime.SetGCPercent to change the GC percentage dynamically during runtime.

[code]

[2016-11-14 19:07] #5 closed

[2016-11-14 20:04] wolfeidau opened #10 "Consider some way to configure unix socket path"
Just reviewing the code and would love a way to move that socket out of `/tmp` to say `/var/run` for services. Reason I mention it is the `PrivateTmp` feature provided by systemd.

Maybe an environment variable would be the simplest way to override?

Cheers

[2016-11-14 20:24] rakyll commented on #10
I want to move off of the unix socket and want to listen on a TCP socket instead. I am planning to listen on a random port and keep the port process is listening under $HOME/.gops/<pid>.addr. This will also enable the windows support.

[2016-11-14 20:52] wolfeidau commented on #10
I think both would be great given access to the unix socket can be controlled using filesystem permissions.

Discovery with the random high port is an interesting challenge, given a system could be running many of these services. Not sure i have seen this done well yet to be honest, always ends up being configured on a per process basis, or coordinated using a central service.

Really looking forw

[2016-11-15 01:11] ahmetalpbalkan commented on #10
Agreed, /var/run/*.sock would be more preferable.

Windows support possibly can be enabled with named pipes OS construct as well. I'm not familiar with that as much, but it should be doable. To be more on the modern side of the things, perhaps gops can be an HTTP endpoint that registers its handlers, just like `import _ "net/http/pprof"` does and starting agent would be as simple as importing a pa

[2016-11-15 01:42] guojun1992 opened #12 "./gops pprof-mem -p=24203 gops: unknown subcommand"
i  have this problem,the pprof-cpu,memstats functions work good,but the pprof-mem method gave me this waring

[2016-11-15 03:36] rakyll commented on #12
Make sure $GOPATH/bin is in your $PATH. Then, just run

[code]

[2016-11-15 03:36] #12 closed

[2016-11-15 03:37] rakyll commented on #10
We are switching to a TCP socket, see https://github.com/google/gops/pull/11.

[2016-11-15 06:59] #10 closed

[2016-11-15 08:44] shurcooL commented on #10
I'm asking because I don't know and would like to learn, what's the reason for you wanting to do that?

You mentioned this would "also" enable windows support, so it sounds like that's not the primary reason. Are there other reasons?

[2016-11-16 15:18] thomasmodeneis opened #16 "How to use this package"
Hi,

I'm not clear on how this package is actually working, when I try to follow the steps on the readme.md I'm running into: `no such file or directory`

This is the complete logs:
[code]

Any ideas ?

Cheers.

[2016-11-16 15:21] ale64bit commented on #16
The process `4496` is not running the agent. When a process is running the agent, it's marked with a `*`. For example:
[code]
In that case you can attach to it. See the README example for how to start the agent in your own projects.

[2016-11-16 15:27] thomasmodeneis commented on #16
Oh right, I see now.

So that would only work to inspect projects I'm currently able to modify the contents, introduce the required libs, start it and then I will be able to debug, correct ?
Now I fully understand the sentence on the readme `For processes that starts the diagnostics agent, gops can report additional information`.

Thanks.

[2016-11-16 15:27] #16 closed

[2016-11-29 04:13] guojun1992 commented on #6
i have read this code
https://github.com/google/gops/blob/master/main.go#L15
the internal dir is the package inter vendor， i think there should “internal/objfile” but not ”github.com/google/gops/internal/objfile“

i have read golang std package
see https://github.com/golang/go/blob/f4c997578ad962074b8e3aaf28dcfaa2f48a8593/src/cmd/compile/internal/mips/galign.go#L9

[2016-11-29 04:14] guojun1992 commented on #6
my go version is 1.7.1，thinks for your help

[2016-12-05 20:15] rakyll opened #22 "Report Go version without the agent"
See Damian's script to dissemble and extract the version information at https://gist.github.com/dgryski/99ac147faf2891c9816d3f4f925c4e6b.

[2016-12-05 20:20] rakyll opened #23 "Print undetermined processes"
When we cannot locate a binary on the disk, we mention the number of such cases in the output of gops. Rather than just mentioning the number for the undetermined processes, also print the details of them. So, the user can manually examine and determine whether they are go binaries or not.

[2016-12-19 11:13] mattn opened #24 "How to disable signal handling"
Gops handle os.Interrupt and call os.Exit(1). But I want to do some tasks to quit.

How to disable this?

[2016-12-19 11:15] mattn commented on #24
This is my suggestion.

1. original behavior

[code]

2. another way to start

[code]

[2016-12-19 11:33] mattn commented on #24
Ah, sorry. Already filed issue https://github.com/google/gops/pull/19

[2016-12-19 11:33] #24 closed

[2016-12-20 20:28] rakyll opened #25 "Remove the -p flag"
Just use the last arg to find out the PID. Typing -p each time to use gops is not very user friendly.

[2016-12-21 10:42] iand opened #26 "Write cpu profile to socket"
The cpu profile is taken by the agent but never written to the socket. Happy to submit a PR for the change if needed.

[2017-01-02 03:33] rakyll commented on #26
Please feel free to open a PR, otherwise I will take a look.

[2017-01-02 03:37] rakyll opened #27 "stat the pid file to report agent running processes"
Currently, we are looking for the agent symbol's existence to report if a process is running the agent. This assertion doesn't help if the agent is closed. We should instead stat the gops pid file for the process to see if the agent is actively listening.

[2017-01-02 03:55] #25 closed

[2017-01-03 09:01] rakyll commented on #26
The profile is written to the socket, are you sure that you are running a program that does anything at all? If you run the example program, since it keeps waiting on the sleep, the profile gathered is often empty. Though with an actual CPU-intense program, I can see the samples.

[2017-01-03 12:45] iand commented on #26
My mistake. Sorry for the noise.

[2017-01-03 12:45] #26 closed

[2017-01-18 04:39] qzaidi commented on #27
+1 to this. Using the symbols cause another problem for us, because our packaging (debian) normally strips the binaries before deploying to production. So even if we use the agent, we have to use unstripped binaries.

[2017-01-20 02:37] #27 closed

[2017-02-11 09:00] qzaidi opened #31 "Using TMPDIR instead of current users home."
It may be a better idea to use TMPDIR instead of current user's home directory for writing gops port files. The homedir may not be writable, while TMPDIR is. It also allows us to run gops binary with a different user than the app embedding the gops agent.

[2017-02-23 04:47] nvcnvn opened #32 "Communication via HTTP"
With the pull request https://github.com/google/gops/pull/30 seem will be accepted I want to make it a step further by making the gops tool "speak" with agents via HTTP rather than reading each single by via TCP.

Benefit:
- More firewall friendly and save a port (in my work place 80 is always open)
- Easier to extend

I will happy to work on this if accepted.

[2017-03-02 22:29] rakyll commented on #32
I would prefer to switch to HTTP, there are a few feature requests that require complex payloads and custom protocol on TCP is not the way to go :)

[2017-03-02 22:41] rakyll commented on #31
TMPDIR might be deleted, PID files shouldn't get lost. In the case of long-running processes, you don't want to end up seeing you cannot access to a problematic server because the PID file is gone.

We just merged a PR that allows you to use gops against an address, does that work for you better?
https://github.com/google/gops/commit/288e543feeb9fe04d4672f373e0b0a04efca840a

Maybe we should just s

[2017-04-22 03:22] wgliang opened #39 "How do I use the agent in a http service and share a port with my http service?"
How do I use the agent in a http service and share a port with my http service?

[2017-07-12 10:26] wangjinbei opened #42 "killed $GOPATH/bin/gops"
How should i deal with this error?

## Error
killed     $GOPATH/bin/gops

## go version
go version go1.8 darwin/amd64

## go env

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/william/gocode"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagno

[2017-07-18 06:42] ipfans opened #43 "fail with pprof-cpu: failed to read the binary"
I used ```gops``` with Ubuntu 16.04 LTS, built with ccfb39d8547edb85b3e950d2f3c30662a5881fe8

[code]

[2017-07-19 03:34] ipfans commented on #43
I find out why. Because file used tag ```v0.3.1``` and gops built with ```master```.

[2017-07-19 03:34] #43 closed

[2017-07-28 21:46] rakyll commented on #42
How did you get this error? By running gops?

[2017-07-28 21:47] rakyll commented on #39
We are working on https://github.com/google/gops/issues/32, and will allow exposing the agent via an HTTP handler soon. Marking as this as a duplicate.

[2017-07-28 21:47] #39 closed

[2017-07-31 01:53] wangjinbei commented on #42
Yes~
Just running $GOPATH/bin/gops

[2017-08-29 03:08] rsc commented on #22
Fixed?

[2017-09-01 02:32] Jordanzuo opened #44 "How to set text browser with the pprof signal"
I use gops on the centos, and when I use gops trace pid, it'll pause when Opening browser.

[2017-09-01 22:24] odeke-em commented on #22
Perhaps what @rsc did in https://github.com/rsc/goversion can be done here too? Or we can transform his work a package and then import it in this package, that's importable and useable here.

[2017-09-01 23:55] rakyll commented on #22
Thanks @rsc!

@odeke-em, it is already done. I converted goversion into a library at https://github.com/google/gops/tree/master/internal/goversion. We need to remove the version subcommand. Do you want to send a change?

[2017-09-04 18:53] #22 closed

[2017-09-09 04:09] Ch3ck commented on #23
Hi @rakyll  I'll like to work on this. Any files I should look at?

[2017-09-15 02:51] odeke-em commented on #23
Thanks for creating the issue @rakyll and for the reminder @Ch3ck.

So this issue is no longer applicable because unfortunately this commit https://github.com/google/gops/commit/290a9a1e3de6632116ba4fb87a73262997aec73b#diff-7ddfb3e035b42cd70649cc33393fe32c removed printing of undetermined processes.

However, IMHO it makes sense that we removed that extra output because this tool is gops, to print

[2017-09-15 03:13] odeke-em commented on #23
@rakyll please feel free to close if you agree with the end suggestion.

[2017-09-16 14:06] SvenDowideit commented on #31
I'm having a quick play adding gops to RancherOS, and so some of the go processes are in namespaced filesystems. I think at the moment, `/run` is common to _most_ of the containers - so I'm wondering if we could add an agent Option `GopsDir`, and either softlink that into the user's `.config`, use a `GOPSDIR` env var, or something else way more clever :)

[2017-10-03 13:28] danielfireman commented on #8
Hi @rakyll, good morning.

I noticed you're assigned to this one, but as the issue was opened at Nov 14, 2016, I thought it was ok to ask: can I try to tackle this issue?

[2017-10-03 14:46] rakyll commented on #8
Surely, go for it.

[2017-10-06 23:50] #8 closed

[2017-10-14 18:23] rakyll opened #58 "Report process info"
gops can report more process info (e.g. https://godoc.org/github.com/shirou/gopsutil/process) for a PID. The only downside is that this command will be asymmetrical because we cannot provide the same functionality for the processes working remotely.

[code]

@odeke-em, what do you think?

[2017-10-14 18:30] odeke-em commented on #58
That'd be amazing and quite useful for folks running stuff on the cloud. The number of open files most especially. Thanks for filing this issue.

[2017-10-14 18:39] rakyll commented on #58
We can import gopsutil into the agent and make it work on the remote processes as well. I am taking my words back that it will be an asymmetrical feature.

Do you want me to assign this to myself and send out a change?

[2017-10-14 18:40] odeke-em commented on #58
Please do so.

[2017-11-07 08:26] zuoRambo opened #60 "use current work dir or temp dir to avoid ConfigDir error"
`unable to get current user home directory: os/user lookup failed; $HOME is empty`

I build my application on instance A and run it on instance B.
The app run as user `root` and the env variable `$HOME` is `/root`.
But i got the follow error.

Maybe we should use temp dir
[code]

[2017-11-08 09:13] zuoRambo commented on #60
In production environment, the process's user is `www`  and is `nologin`, In this case, the `$HOME` is not available.

[2017-11-08 14:59] rakyll commented on #60
Can we just make the ConfigDir configurable via an env? Current directory is not the most optimal solution either. You don't want to cd into a specific directory to be able to run gops.

/cc @odeke-em

[2017-11-13 07:51] zuoRambo commented on #31
https://github.com/google/gops/issues/60

[2017-11-13 10:58] zuoRambo commented on #60
Thank you @odeke-em for the help and @rakyll for the reviews!

[2017-11-13 10:58] #60 closed

[2017-11-15 09:55] zuoRambo opened #62 "What's the gops's roadmap ?"
In `java` domain, they have `JMX` and `jmxtrans`, so they could build an platform to monitoring the java application clusters.
With the help of `grafana`、`kibana`、`ganglia`、`prometheus` or `zabbix`、`openfalcon`, they could config one monitoring solution which has displaying and alerting feature.

So, what can our `gops` do ?
Now, we could report real-time runtime info by agent mode.
But, the repre

[2017-11-20 11:51] zuoRambo commented on #62
https://github.com/bmhatfield/go-runtime-metrics
https://github.com/tevjef/go-runtime-metrics

[2017-11-25 19:38] rakyll commented on #62
Sorry, currently we are not planning to extend this tool in a way it depends on external services. gops is currently a tiny tool that does one job and does it well.

@odeke-em had some ideas for auto-discovery of Go processes in a cluster and provide more compelling features but I don't think it has to be gops but can be implemented as a separate tool.

[2017-11-28 06:46] zuoRambo commented on #62
@rakyll Thanks for answer～

[2017-11-28 06:46] #62 closed

[2018-02-28 03:41] #58 closed

[2018-03-02 03:53] sudo-suhas opened #69 "Error installing gops"
[code]

I have Go 1.10 installed:
[code]

[2018-03-02 04:10] odeke-em commented on #69
Hello there, thank you @sudo-suhas for reporting this issue and welcome to gops!

So the issue is that our dependencies that are used by Windows are severely out-of-date.

wmi, uses go-ole, yet our version of go-ole is at 0e87ea779d9deb219633b828a023b32e1244dd57
https://github.com/google/gops/blob/09ff00a4ddf2fd396b8c433af996cf42b4e823d7/Gopkg.lock#L10-L14

of which that commit is from November 20

[2018-03-03 20:00] #69 closed

[2018-03-10 19:00] achilles42 commented on #42
Facing the same issue
[code]

where 48450 is the PID of the main program. same issue with other commands
[code]

### go version
[code]

### go env
[code]

[2018-03-14 11:55] ZouRui89 opened #73 "Cannot run stack command"
I kept getting 'connection refused' info when trying to run 'gops stack  (<pid>|<addr>)' command.

[root@izj6c44nzox6sb97nzgmhyz ~]# gops
13136 13128 containerd  unknown Go version /usr/local/bin/containerd
13650 13235 gops        go1.9.1            /usr/local/go/bin/gops
13128 7610  pouchd      go1.9.1            /usr/local/bin/pouchd
[root@izj6c44nzox6sb97nzgmhyz ~]# gops stack 13128
couldn't ge

[2018-03-16 07:03] #73 closed

[2018-03-16 07:05] odeke-em commented on #73
Sorry for the late reply @ZouRui89, we've been quite swamped with day work. However, welcome to gops! I see you closed the issue, were you able to resolve it okay?

[2018-03-17 10:48] ZouRui89 commented on #73
Hi, I was using gops to test pouch, a container engine we are working on, and kept getting this problem  the other day. Then I realized that it is the setting in pouch that stopped gops unless it is debug mode, in which case I closed the issue.
Thx for your replay. I really appreciate it. :)

[2018-03-18 04:06] odeke-em commented on #73
Ahh, I see. Great, thank you for the post mortem post and thank you for using gops!

[2018-03-21 06:23] weichangdong opened #74 "couldn't get port by PID"
`gops  memstats 27281`
couldn't get port by PID: dial tcp 127.0.0.1:0: connect: can't assign requested address
when i use addr,long time no response.
i use go version go1.10 darwin/amd64.
i remember it works  before,perhaps i updated the go version.

[2018-03-31 01:05] di3663 commented on #74
I got the same issue.
[code]

[2018-03-31 01:19] di3663 opened #75 "1918 1872 main* unknown Go version /home/srv_xxx"
os: i386 linux

[code]

[2018-03-31 01:20] di3663 opened #76 "panic when run without pid"
[code]

[2018-04-04 08:19] bruceauyeung opened #77 "[feature request] add column header"
when we run `ps` without any args, its output includes column header like this:
[code]

currently gops does not have column header, those newcomer users may not know meanings of  1st and 2nd column

[2018-04-09 10:15] ashishchandra2017 commented on #74
Me too
$ gops pprof-cpu 6433
Profiling CPU now, will take 30 secs...
couldn't get port by PID: dial tcp 127.0.0.1:0: connect: can't assign requested address

[2018-04-17 08:41] bruceauyeung opened #78 "Is there any performance / security impact when enabling gops agent in user program?"
when only gops agent.Listen()  enabled, but no gops command connects to this agent.

[2018-04-17 18:49] rakyll commented on #78
No significant performance overhead. It listens a randomly available socket. All security impact of opening a socket applies here.

[2018-04-24 10:01] #75 closed

[2018-04-24 10:01] #76 closed

[2018-05-02 02:34] gmridul opened #82 "go pprof unable to parse files generated by gops pprof"
Command : `gops.exe pprof-cpu <addr>`

Output :

[code]

Platform : Windows 2016 Datacenter

[2018-05-02 02:58] #82 closed

[2018-05-10 16:43] yanpozka commented on #76
this is still happening
[code]

[2018-07-07 05:48] qwe5788319 commented on #74
me too!!!

But no one seems to care!!!

[2018-10-26 08:09] Crazy-Kitty commented on #74
1、golang version
2、quote "github.com/google/gops/agent" in your code;
3、add code in you main func, such as:
if err := agent.Listen(agent.Options{}); err != nil {
        log.Fatal(err)
    }
4、go build your code
5、gops option according to gops doc

[2019-01-25 10:18] harshal7harshal commented on #69
https://github.com/d5/cc is not working due to which some Go libraries are not working. Please fix immediately

[2019-01-25 18:44] rakyll commented on #69
@harshal7harshal Could you give us details on why cc is not building/working?

[2019-01-28 05:46] harshal7harshal commented on #69
Hi Rakyll,

Above url cannot be accessed. It's giving 404

Thanks
Harshal

[2019-01-28 05:48] harshal7harshal commented on #69
I think it's fixed by Daniel after my query on another thread
Thanks
Harshal

[2019-02-19 02:16] dmigwi opened #88 "Missing list of Golang versions supported in the documentation."
I just noticed that the documentation does not have list golang versions supported by this package.  It cannot run using other golang versions apart from `go1.12`

[code]

[2019-02-20 21:50] markdoyle commented on #42
Similar issue with go version go1.11.4 linux/amd64.
gops (even with no args) consumes a lot of memory and gets killed.

[2019-02-28 09:49] rayunstop commented on #88
any update?

[2019-03-27 02:25] yashLadha opened #90 "Correct exit code status in `usage` if a valid command is passed like `help`"
Currently, the statement exits with status code `1` which is not valid if a valid command is passed like help.

[2019-03-27 02:28] yashLadha commented on #77
I would like to work on this issue @bruceauyeung

[2019-03-27 17:52] yashLadha commented on #90
Fixes #91

[2019-03-27 17:52] #90 closed

[2019-10-21 22:04] rakyll opened #95 "Report version from binary file"
[code]

can report the Go version for those who wants to investigate the build version without having to run the binary.

[2019-10-21 22:15] rakyll commented on #88
We are actually not testing this versions earlier than 1.12. If it is critical, I may consider adding 1.11 as well. But Go has a policy to maintain only the last two versions so I expect everyone to update to 1.12 at least.

[2019-11-04 21:28] rakyll commented on #95
I recently learned that the Go tool can do this itself now. For example:

[code]

[2019-11-04 21:28] #95 closed

[2019-11-27 09:04] westwin commented on #74
this sounds like a bug.
as you can find in github.com/google/gops/internal/internal.go, but the ConfigDir() uses the value of  environment of GOPS_CONFIG_DIR, and ignore the value you set in Listen(agent.Options{ConfigDir: ""})

which means to use gops, you MUST set env of GOPS_CONFIG_DIR, otherwise, it use $HOME/.config for linux system, for which you might have no permission to mkdir

func PIDFi

[2020-01-21 15:09] danp opened #96 "New release?"
Hi there,

Would it be possible to cut a new release? It would be especially nice to get #87 in a released version.

Thanks!

[2020-01-21 19:18] rakyll commented on #96
https://github.com/google/gops/releases/tag/v0.3.7 is released.

[2020-01-21 19:18] #96 closed

[2020-01-21 19:25] danp commented on #96
Thanks!

Double checking: should that have been 0.3.8 as of current master? I think 0.3.7 already existed, for 59c8be2eaddf480111508bccd11505912168d23a, which https://github.com/google/gops/releases/tag/v0.3.7 still points to.

[2020-03-16 18:59] donaldthai opened #100 "gops doesn't list processes built with go1.14"
Hello,

I recently upgraded to `go1.14` and `gops` isn't listing my processes now. Any timeline to support the latest go version?

[2020-03-16 21:34] Clivern commented on #100
Hi @donaldthai

May be you need to reinstall gops? because i see it works with go1.14

[code]

[2020-03-16 22:39] donaldthai commented on #100
@Clivern

DOH! You're right, I just needed to update to the latest version of gops! Thanks!

[2020-03-16 22:39] #100 closed

[2020-05-10 06:37] prithsharma opened #102 "gops stopped listing my running go programs"
A few days ago, `gops` stopped listing my running go program (found this when I couldn't attach to my program for debugging in GoLand)

Any ideas on how to debug this?

[2020-05-11 18:52] rakyll commented on #102
Is it possible for you to see if https://godoc.org/rsc.io/goversion is working with your binary?

[2020-05-16 14:48] prithsharma commented on #102
Right, `goversion` doesn't list my binary either. I can confirm that some other binaries lying in my directory from before are being listed with `goversion` but the binary in question (which I recently generated) is not. May be something changed on my system? what should I check?

[2020-05-26 10:34] tklauser opened #110 "Tag new release?"
WIth some of the recent changes, it would be nice to tag a new release. I think I have the permissions to tag a new release, but I wanted to check with you whether it is OK if I do so? @rakyll @odeke-em

[2020-05-26 23:04] rakyll commented on #110
Yes, please. Please free free to cut new releases without asking us.

[2020-05-27 07:09] tklauser commented on #110
Perfect, thank you. Will tag `v0.3.9` now.

[2020-05-27 07:09] #110 closed

[2020-06-02 11:06] tklauser commented on #102
@prithsharma could you check whether you still see the issue with the latest `gops` version? If you do, could you check with which Go version your binary was compiled using both `goversion <binary>` (using the latest version of `goversion`) and `go version <binary>`?

[2020-06-05 02:49] sowhyim opened #115 "why get this with gops pprof-cpu"
![profile001](https://user-images.githubusercontent.com/43393195/83831577-47929b00-a71a-11ea-9db7-483cb5d46747.png)

[2020-06-05 02:50] sowhyim commented on #115
there was nothing from tracing

[2020-07-15 16:32] niboge opened #117 "Implausible string size error when reading Mach-O files with symbolic debugging entry"
https://github.com/rsc/goversion/issues/12

wish change rsc/goversion commitid to 5f05606419ef23cba7b3d6e4bca83e43df9825ad  2020.5

[2020-07-15 16:32] niboge commented on #117
gops can not see the go progress with special mac debug symbol

[2020-08-18 06:16] individual-it opened #120 "improve docs to mention ptrace_scope"
I have to execute `echo 0 > /proc/sys/kernel/yama/ptrace_scope` to get gops running
GoLand use to remind me, but does not anymore and `gops` just hangs without this setting

wort mentioning that in the docs?

[2020-08-20 06:54] ifory opened #121 "gops crash"
for easy to crash, build the hello example as windows exe program.
launch the exe program ten times.
then just use gops in console, it is happen.

[2020-08-20 06:56] ifory opened #122 "(newest) gops crashed in go1.15"
for easy to crash, build the hello example as windows exe program.
launch the exe program ten times.
then just use gops in console, it is happen.

[2020-08-20 06:57] #121 closed

[2020-08-31 17:38] siebenmann opened #123 "Gops hangs if there are too many Go processes to examine"
If you have more than ten (I believe) Go processes, gops will hang in goprocess/gp.go's FindAll() function. This happens because the 'for .. range pss { ...}' loop attempts to obtain a limitCh token before starting the goroutine, but the goroutines only release their token after they have sent their reply to the ``found`` channel. Since the ``found`` channel is unbuffered and is only read from by

[2020-09-03 17:13] dbraley commented on #123
This is impacting me as well. Was able to get around it temporarily by upping the magic number to 100 without a problem, though that's obviously not the _right_ fix.

[2020-09-04 08:19] mseshachalam commented on #123
@siebenmann @dbraley could you please check if [this PR](https://github.com/google/gops/issues/123) fixes this issue.

[2020-09-04 15:54] siebenmann commented on #123
Purely on inspection I believe that this will fix the issue I'm experiencing, however I believe it will also reintroduce issue #118. Since ``limitCh`` is now sent to in a new goroutine that has no other purpose, there's nothing to stop a flood of goroutines calling ``isGo()`` and using too many file descriptors at once.

[2020-09-04 16:14] mseshachalam commented on #123
@siebenmann thanks for the insight. I have modified the code little bit to give `limitCh` purpose.

[2020-09-05 18:41] yarcat commented on #123
The change introduced above (see #125) moves the whole for-loop into a go routine (also suggested in the issue description). Ignoring the whitespace changes (`git diff -b`) is far the best way to understand the diff.

[2020-09-05 22:04] josharian commented on #123
It seems to me the simplest fix would be to make `found` buffered, with size `concurrencyProcesses`.

[2020-09-06 11:17] yarcat commented on #123
I personally prefer to avoid buffered channels, but yeah -- it's possible as well.

[2020-09-06 16:41] yarcat commented on #122
Seems to be related to #123

[2020-09-06 19:13] yarcat commented on #123
Actually, did not initially notice that  `concurrencyProcess` buffer limit proposed by @josharian. Imho it isn't gonna help. Imagine that we have more than `concurrencyProcess` processes. After the first batch of `concurrencyProcess` workers we will fill the output buffer, and will get to exactly the same situation as we are in right now. The only correct way in this case is to create a buffer of

[2020-09-06 19:16] josharian commented on #123
But by that point, reading from `found` will have commenced. In any case, there's no need to speculate. That's what tests are for. :)

[2020-09-06 19:18] yarcat commented on #123
But reading from `found` happens after the main for-loop. It will never get there, because it will get stuck in the same way it gets stuck now.

[2020-09-06 20:27] josharian commented on #123
I see now. Using len(pss) would work.

[2020-09-06 20:28] yarcat commented on #123
@josharian I've refactored my cl and made it testable. Please try with `len(pss)` -- it will hang.

[2020-09-06 20:32] yarcat commented on #123
@josharian Added a [fix-123-buffered](https://github.com/yarcat/gops/tree/fix-123-buffered) branch. Please take a look and feel free to try it out yourself.

[2020-09-06 20:35] yarcat commented on #123
Oups, sorry, forgot to push the changes. Now it's there.

[2020-09-06 21:45] yarcat commented on #123
Also added a version, which creates less go-routines, and doesn't use buffered channels. Please take a look https://github.com/yarcat/gops/blob/fix-123-no-buffers/goprocess/gp.go (the branch is still based on a PR #125)

[2020-09-07 20:51] rakyll commented on #123
Since this is impacting many users, instead of leaving comments on #124, I sent out https://github.com/google/gops/pull/126.

[2020-09-07 21:23] #123 closed

[2020-09-08 22:02] yarcat commented on #122
@ifory Could you please try to latest version. Imho the problem should be gone.
https://github.com/google/gops/releases/tag/v0.3.12

[2020-09-11 18:30] dbraley commented on #123
Sorry for the delay! Can confirm this fixed the problem for me as well, thanks @rakyll, @yarcat, @mseshachalam,
& @josharian !

[2020-12-07 11:24] zhuxubin01 opened #131 "can not install binary file to gopath/bin"
why when i use go get github.com/google/gops,it can not install binary file to directory gopath/bin

[2020-12-12 01:17] rakyll commented on #122
This should be fixed, can we get a confirmation?

[2021-01-25 09:31] kokizzu opened #133 "Alpine Couldn't resolve addr or pid 1 to TCPAddress: couldn't get port for PID 1: open /root/.config/gops/1: no such file or directory"
`gops` build with `export CGO_ENABLED=0`, some command works, some command doesn't work:

[code]

[2021-01-25 09:32] kokizzu commented on #133
nevermind, it has to recompile with correct import to make this work `"github.com/google/gops/agent"`

[2021-01-25 09:32] #133 closed

[2021-02-03 17:05] lblackstone commented on #102
I ran into this same issue today. Here's the output from both `go version` and `goversion`:

[code]

[2021-02-03 17:30] lblackstone commented on #102
This open issue with `goversion` looks like the culprit: https://github.com/rsc/goversion/issues/12

[2021-02-08 07:40] fighthorse opened #134 "gops stack 38744 => Couldn't resolve addr or pid 38744 to TCPAddress: couldn't get port for PID 38744:"
$ gops tree
...
├── 27500
│   └── 38707 (go) {go1.15.4}
│       └── 38744 (main) {go1.15.4}
│           └── 38745 (main) {go1.15.4}
└── 28308
    └── 38862 (gops) {go1.15.4}

$ gops stack 38707
Couldn't resolve addr or pid 38707 to TCPAddress: couldn't get port for PID 38707: open /Users/admin/Library/Application Support/gops/38707: no such file or directory

how to get it ?

[2021-03-15 09:04] liushuangddu opened #141 "Amazon triple containing"
Hi, I'm very glad to find you on this website. I'm a developer from China. Now I does working on Bluetooth Sigmesh . I plan to access the Amazon echo for my device , and then I recgnized before I need the BLE Mesh Credentials- A triple containing the OOB Type (Static only for now), OOB Data (pub key), and Device UUID.
But I has clicked entire website still connot find out the documentation for how

[2021-04-17 08:25] mrbuk commented on #134
You might try to run the commands against a process that **does not have the gops agent running**.

This is not clear from the Github README.md but it is mentioned in the help:

[code]

I am referring to the following part `All commands require the agent running on the Go process.`

When you run `gops` against a process that has the agent running you will see a `local/remote` field reported. That

[2021-04-19 08:03] pborzenkov opened #144 "Stacktrace in 'debug=1' format"
Hi!

I'd like to propose a feature that allows to (optionally) dump a stack track in `debug=1` format. Currently agent hardcodes it to `debug=2`.

While `debug=2` format is probably more readable, `debug=1` has a rather large advantage - it includes `pprof` labels. This is especially handy when there are many goroutines doing similar work but handling different tasks/assignments/etc.

If there are

[2021-07-09 08:36] Kaiser925 opened #147 "Install failed"
use ``` go get -u github.com/google/gops``` install gops failed, got

[code]

[2021-07-09 12:42] tklauser commented on #147
I think the installation instructions in the `README` are slightly incorrect. We should either use `go install github.com/google/gops` or `go get github.com/google/gops` (without `-u`) to install the binary. @Kaiser925 could you check whether one of the commands works for you?

I'll send a PR fixing the `README`.

[2021-07-09 14:50] Kaiser925 commented on #147
Thank you for your reply, @tklauser . Command  ```go get github.com/google/gops`` worked for me.

[2021-07-14 08:13] #147 closed

[2021-07-26 12:24] cheshir opened #149 "osx: no such file or directory: /src"
OS: macos Big Sur 11.0.1

Go version: go1.16.3 (installed via brew).

The problem:

running `gops` immediately finishes with error:

[code]

What I'm doing wrong?

[2021-10-27 04:39] pcj opened #153 "gops crashes on macos without a CLI command on startup"
[code]

[code]

[code]

[2021-11-09 12:59] el10savio opened #154 "gops does not validate time duration parameter"
It looks like gops does not validate the input time duration parameter & defaults to 0 for invalid inputs. When testing out the hello world example adding values such as `0,-1,1.2,..` defaults to 0 and does not return an error as shown below.

[code]

[code]

[code]

[code]

[code]

This is a very minor issue but would be helpful to fix to validate the user's input. It looks like this line [here](

[2021-11-10 12:19] tklauser commented on #154
@el10savio thanks for the report. I think it'd make sense to fix this. Want to open a PR?

[2021-11-10 12:26] el10savio commented on #154
Thanks @tklauser. Sure, I can pick it up :)

[2021-11-10 13:15] #154 closed

[2021-12-13 07:23] developer-guy opened #157 "improve CI/CD release process with GitHub Actions and GoReleaser"
- [ ] Integrate with GoReleaser, sign/verify binaries&container images GitHub Actions OIDC Keyless with cosign
- [ ] create GitHub Action workflows for releasing
- [ ] [Mage](https://github.com/magefile/mage)?
- [ ] Multi-arch support?
- [ ] provide the necessary information in version command (version, date, etc), use ldflags?

we are volunteers, please free to assign this to us 🙋🏻‍♂️🤝

cc: @raky

[2021-12-27 03:05] cwww3 opened #158 "go get failed in m1"
[code]

[code]

[2022-01-10 07:20] raochq opened #159 "run gops panic"
gops version: v0.3.22
go version: go1.17.5
os: macOS 12.1 , M1

[code]

[2022-01-10 11:52] raochq opened #160 "gops can not list process in Mac book with m1 chip"
gops program can not list the process which is build with cgo in M1 MacBook

example：
[code]

[2022-02-17 13:36] giskook commented on #160
I have the same problem.a simple go project can be listed.but our complex one can‘t be listed :(

[2022-03-18 07:35] zhuiyi9009 commented on #160
i have the same problem on my goland2021.3.4, but version 2020.3 is ok

[2022-04-02 01:09] abezzub commented on #160
I have a similar issue and I stepped through gops code and it appears goversion cannot read the version properly.

I am running go 1.18 on M1 mac.

[2022-04-02 01:17] abezzub commented on #160
Here is the issue I opened for `goversion`: https://github.com/rsc/goversion/issues/24

[2022-04-13 13:52] aymanrb commented on #160
The same thing happens to me here, no matter which go version I use 1.17.x or 1.18.x I have the same behavior as @giskook, a simple application is detected, but my actual complex application is not listed.

I tried installing go AMD64 instead of ARM ... the app built with the amd64 version could be detected, just doesn't work if the same app is built with the arm version of go !

[2022-05-04 20:48] tklauser commented on #102
I think #166 should fix this issues, at least when building `gops` using Go 1.18.

@prithsharma @lblackstone could you please check whether `gops` built from latest `master` branch using Go 1.18 works as expected for you?

[2022-05-04 20:48] tklauser commented on #159
I think #166 should fix this issues, at least when building `gops` using Go 1.18.

@raochq could you please check whether `gops` built from latest `master` branch using Go 1.18 works as expected for you?

[2022-05-05 22:16] abezzub commented on #160
@tklauser I can confirm latest code from `master` detects the process that did not work before.

[2022-05-05 22:45] lblackstone commented on #102
Yes, this appears to be working as expected now. Thanks!

[2022-05-06 06:22] tklauser commented on #160
Thanks for confirming @abezzub!

[2022-05-06 06:22] #160 closed

[2022-05-06 06:23] tklauser commented on #153
I think #166 should fix this issue, at least when building `gops` using Go 1.18.

@pcj could you please check whether `gops` v0.3.23 built using Go 1.18 works as expected for you?

[2022-05-06 06:30] #122 closed

[2022-05-06 06:32] tklauser commented on #88
I think this can be closed, given that Go 1.12 was release more than 3 years ago and the most recent versions supported by the Go project are 1.17 and 1.18 at this point.

[2022-05-06 06:32] #88 closed

[2022-05-06 06:33] tklauser commented on #102
@lblackstone Thanks for confirming!

[2022-05-06 06:33] #102 closed

[2022-05-06 06:34] tklauser commented on #117
This should be fixed by #166 in v0.3.23.

[2022-05-06 06:34] #117 closed

[2022-05-16 08:37] raochq commented on #159
I only have this problem once. It never happened again。

[2022-05-16 09:21] tklauser commented on #159
Thanks for confirming. I'll thus close this issue. Please feel free to comment here or open a new issue in case you see it happening again.

[2022-05-16 09:21] #159 closed

[2022-05-21 06:43] GerryLon opened #168 "Couldn't resolve addr or pid <pid> to TCPAddress"
# gops stack 19401
Couldn't resolve addr or pid 19401 to TCPAddress: couldn't get port for PID 19401: open /root/.config/gops/19401: no such file or directory

[2022-05-29 22:36] #149 closed

[2022-11-29 05:48] WsWHL commented on #149
remove oh my zsh plugins "golang"